$black: #0D070D;
$pink: #D90368;
$soft-pink: #FC4FA0;
$yellow: #FFD400;
$blue: #0091FF;
$white: #f9f6f0;
$orange: #FF9100;
$pink-to-blue-gradient: linear-gradient(to left, $pink, $yellow, $blue);
$reverse-pink-to-blue-gradient: linear-gradient(to right, $pink, $yellow, $blue);